.navbar{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #49557e;
}

.navbar-menu li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    font-size: 16px;
    color: #49557e;
    background: transparent;
    padding: 10px 30px;
    border: 1px solid tomato;
border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background: tomato;
    color: white;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e ;
    
}


.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.nav-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.nav-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px #00000015;
padding: 15px 25px;
border-radius: 5px;
list-style: none;

border: 1px solid white;
/* outline: 2px solid #fefefe; */

}



.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 14px;
cursor: pointer;
}

.nav-profile-dropdown img{
    width: 16px;
}

.nav-profile-dropdown p{
    color: #1b1b1b;
    font-size: 16px;
    font-weight: 400;
}

.nav-profile-dropdown hr{
    width: 100%;
    border: 1px solid #ccc;
    height: 1px;
    outline: none;
}

.nav-profile-dropdown p:hover{
    color: tomato;
}


@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}



@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
 font-size: 15px;
    }
}


@media (max-width:700px) {

    .navbar-menu{
        display: none;
    }
}